* {
    margin: 0px;
    padding: 0px;
}

/* header starts */

header {
    max-width: 1920px;
    height: 850px;
    flex-shrink: 0;
    background: rgba(229, 84, 115, 0.10);
    display: flex;
    align-items: center;

}

header img {
    width: 635px;
    height: 800px;
    margin-top: 50px;
    margin-left: 97px;

}

.banner {
    max-width: 708px;
    margin-left: 210px;
}

.banner h2 {
    width: 708px;
    color: #272727;
    font-family: Lato;
    font-size: 80px;
    font-style: normal;
    font-weight: 800;

}

.banner p {
    margin: 20px 0px 25px 0px;
    width: 634px;
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
}

.btn {
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    border: solid;
    border-color: #E55473;
    background: #E55473;
    cursor: pointer;
}

.btn:hover {
    color: #E55473;
    background: #FFF;
}

/* header ends */

/* featured-flower-section */

.featured-flower {
    max-width: 1920px;
    height: 1539px;
    display: flex;
    flex-direction: column;
}
.flowers-card{
    display: flex;
    /* align-items: center;
    justify-content: center; */
    gap:20px;
    margin-top: 48px;
    margin-left: 235px;
    
}

.featured-flower-title {
    width: 594px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 170px;
    margin-left: 663px;
    margin-right: 663px;

}

.featured-flower-title h2 {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 24px;
}

.featured-flower-title p {

    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
}

.card-img {
    width: 310px;
    height: 428px;
    object-fit: contain;
}

.card-back {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0 0;
    background: rgba(167, 33, 98, 0.15);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.card-back2{
        width: 464px;
        height: 538px;
        border-radius: 300px 300px 0 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
    background: rgba(5, 151, 160, 0.15);
}
.card-back3 {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border-radius: 300px 300px 0 0;
    background: rgba(71, 125, 17, 0.15);
}
.flowers-img-text{
    width: 464px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

}
.flowers-img-text a{color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    /* 145.833% */
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
    margin-top: 32px;
}

/* feature-flower ends */

/* support card starts */

.support-card{
    max-width: 1920px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 1440px;
    height: 320px;
    flex-shrink: 0;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    margin-left: 240px;
    margin-top: 128px;
    
}
.support-img-text{
    width: 380px;
    height: 150px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}
.support-img-text img{
    width: 88px;
    height: 88px;
}
.support-img-text p{
    color: rgba(39, 39, 39, 0.80);
        text-align: center;
        font-family: Lato;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 35px;
        /* 145.833% */
}

